@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}
#container{
    width: 60%;
    background-color: rgb(253, 255, 215);
    padding: 25px;
    margin: 20px auto;
}

header{
    text-align: center;
    border-bottom: #fff dashed 1px;
}

input[type='submit']{
    background: rgb(0, 195, 255);
    border: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px; 
}

#resultado h3{
    background: #fff317;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

#resultado span{
    color: #000;
    font-weight: bold;
}